//
// Variables
// --------------------------------------------------

//
// fonts

$primaryFontLight: "Rubik", sans-serif;
$primaryFontMedium: "Rubik", sans-serif;
$primaryFontBold: "Rubik", sans-serif;

//
// colors

$headerBg: #26282c;
$black: #272829;
$white: #fff;
$mainYellow: #fdd000;
$navBtnColor: #3d3d3d;
$calendarBg: #ff5a00;
$colorNumber: #dfdfdf;

//
// z-index
$overlayZ: 2000;
$popupZ: 3000;
$closeZ: 1100;
$profZ: 1200;
$prodZ: 1100;
$nameZ: 1201;
