.calendar-container {
  padding: 150px 50px;
  min-width: 500px;
  max-width: 700px;
  height: 100%;
  background-color: $black;
}
.calendar-layout {
  display: flex;

  flex-direction: column;
  align-items: center;
}

.day-of-week,
.date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}
.date-grid {
  margin-bottom: 25px;
}

.date-day-grid {
  display: flex;
  flex-direction: column;
}
.day-of-week {
  padding: 15px 0;
  text-align: center;
  border-bottom: 1px solid $white;
  border-top: 1px solid $white;
}
.month-indicator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $white;
  width: 100%;
  padding: 0 15px;
  margin-bottom: 25px;
}
.month-indicator > button {
  color: $colorNumber;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  &:hover {
    color: $mainYellow;
  }
}
@media screen and (max-width: 767px) {
  .calendar-container {
    width: 100%;
  }
}

.active-day {
  background-color: $mainYellow;
  color: black;
}
.not-active-day {
  color: $colorNumber;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  width: 45px;
  height: 40px;
  &:hover {
    background-color: $mainYellow;
    color: black;
  }
}
.current-month-day {
}
.not-current-month-day {
  color: #3d3d3d;
}
